.turf-detail-container {
    padding: 20px;
    background-color: #f9f9f9;
}

.turf-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.turf-table th, .turf-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.turf-table th {
    background-color: #f2f2f2;
}

.turf-table td {
    background-color: #ffffff;
}
